@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Styles spécifiques */
.hero-title span,
.hero-subtitle,
.modern-button {
  opacity: 0;
  transform: translateY(20px);
}

.profile-image-container {
  @apply relative overflow-hidden rounded-3xl shadow-lg transition-all duration-300 ease-in-out hover:scale-105;
}

.profile-image {
  @apply opacity-0 scale-110 transition-all duration-500 ease-in-out;
}

.profile-image.visible {
  @apply opacity-100 scale-100;
}

.bio-text p {
  @apply opacity-0 translate-y-5 transition-all duration-500 ease-in-out;
}

.bio-text.visible p {
  @apply opacity-100 translate-y-0;
}

.bio-text p:hover {
  @apply scale-105;
}

.bio-text.visible p:nth-child(2) {
  transition-delay: 0.2s;
}

.project-card {
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.project-card.expanded {
  grid-column: 1 / -1;
  height: auto;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-content,
.card-hover,
.card-expanded {
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.project-card:hover .card-content {
  opacity: 0;
  transform: scale(0.95);
}

.card-hover {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
}

.project-card:hover .card-hover {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.card-expanded {
  display: none;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.project-card.expanded .card-expanded {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.project-card.expanded .card-content,
.project-card.expanded .card-hover {
  display: none;
}

.see-more-btn {
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.see-more-btn:hover {
  transform: translateY(-2px);
}

@media (max-width: 640px) {
  .hero-title span:first-child {
    @apply text-3xl;
  }

  .hero-title span:last-child {
    @apply text-5xl;
  }
}
