@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Styles spécifiques */
.hero-title span,
.hero-subtitle,
.modern-button {
  opacity: 0;
  transform: translateY(20px);
}

.profile-image {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.profile-image.visible {
  opacity: 1;
  transform: scale(1);
}

.bio-text p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bio-text.visible p {
  opacity: 1;
  transform: translateY(0);
}

.bio-text p:hover {
  transform: scale(1.05);
}

.bio-text.visible p:nth-child(2) {
  transition-delay: 0.2s;
}

@media (max-width: 640px) {
  .hero-title span:first-child {
    @apply text-3xl;
  }

  .hero-title span:last-child {
    @apply text-5xl;
  }
}
